{
    "openapi": "3.1.0",
    "info": {
        "title": "Bank Integration API",
        "version": "1.0"
    },
    "servers": [
        {
            "url": "https://api.bank.com"
        }
    ],
    "components": {
        "securitySchemes": {}
    },
    "security": [
        {}
    ],
    "paths": {
        "/statement": {
            "get": {
                "summary": "Bank Statement API",
                "description": "GET API to read Bank Statement details from the Bank partner",
                "operationId": "bank-statement-api",
                "parameters": [
                    {
                        "name": "from",
                        "in": "query",
                        "description": "The start date for fetching the information",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "to",
                        "in": "query",
                        "description": "The end date for fetching the information",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "x-api-key",
                        "in": "header",
                        "description": "API key to uniquely identify the API user",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "x-api-version",
                        "in": "header",
                        "description": "API version",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "Authentication token to authorize the request",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "200",
                        "content": {
                            "application/json": {
                                "examples": {
                                    "Result": {
                                        "value": "{\n    \"sheets\": [\n        {\n            \"name\": \"Bank Account Statement\",\n            \"blocks\": [\n                {\n                    \"name\": \"Bank Account Statement\",\n                    \"@entity\": \"table\",\n                    \"header\": [\n                        \"transaction_id\",\n                        \"transaction_type\",\n                        \"transaction_date\",\n                        \"amount\",\n                        \"descripition\",\n                        \"closing_balance\"\n                    ],\n                    \"rows\": [\n                        [\n                            \"0000336985068700\",\n                            \"withdrawal\",\n                            1674468184,\n                            5000.0,\n                            \"UPI-Bill Payment- torrent power- hss221\",\n                            200000.0\n                        ],\n                        [\n                            \"0000336985068700\",\n                            \"deposit\",\n                            1674468184,\n                            10000.0,\n                            \"UPI-Aman Mathur-athq366\",\n                            210000.0\n                        ]\n                    ]\n                }\n            ]\n        }\n    ]\n}"
                                    }
                                },
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "sheets": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "name": {
                                                        "type": "string",
                                                        "example": "Bank Account Statement"
                                                    },
                                                    "blocks": {
                                                        "type": "array",
                                                        "items": {
                                                            "type": "object",
                                                            "properties": {
                                                                "name": {
                                                                    "type": "string",
                                                                    "example": "Bank Account Statement"
                                                                },
                                                                "@entity": {
                                                                    "type": "string",
                                                                    "example": "table"
                                                                },
                                                                "header": {
                                                                    "type": "array",
                                                                    "items": {
                                                                        "type": "string",
                                                                        "example": "transaction_id"
                                                                    }
                                                                },
                                                                "rows": {
                                                                    "type": "array",
                                                                    "items": {
                                                                        "type": "array",
                                                                        "items": {
                                                                            "type": "string",
                                                                            "example": "0000336985068700"
                                                                        }
                                                                    }
                                                                }
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "400",
                        "content": {
                            "application/json": {
                                "examples": {
                                    "Result": {
                                        "value": "{}"
                                    }
                                },
                                "schema": {
                                    "type": "object",
                                    "properties": {}
                                }
                            }
                        }
                    }
                },
                "deprecated": false
            }
        },
        "/accountdetails": {
            "get": {
                "summary": "Bank Account Details API",
                "description": "GET API reads Bank Account Details from the Bank partner",
                "operationId": "bank-account-details-api-1",
                "parameters": [
                    {
                        "name": "x-api-key",
                        "in": "header",
                        "description": "API key to uniquely identify the API user",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "x-api-version",
                        "in": "header",
                        "description": "API version",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "Authentication token to authorize the request",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "200",
                        "content": {
                            "application/json": {
                                "examples": {
                                    "Result": {
                                        "value": "{\n  \"account_type\": \"Savings\",\n  \"account_number\": \"00098000363622\",\n  \"ifsc\": \"HDFC0000002\",\n  \"upi_id\": \"ahk201199@okhdfcbank\",\n  \"swift_code\": \"HDFCINBBAHM\",\n  \"micr\": \"123456789\",\n  \"mmid\": \"4455123\",\n}"
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "400",
                        "content": {
                            "application/json": {
                                "examples": {
                                    "Result": {
                                        "value": "{}"
                                    }
                                },
                                "schema": {
                                    "type": "object",
                                    "properties": {}
                                }
                            }
                        }
                    }
                },
                "deprecated": false
            }
        }
    }
}