{
    "openapi": "3.1.0",
    "info": {
        "title": "HRMS Integration API",
        "version": "1.0"
    },
    "servers": [
        {
            "url": "https://api.hrms.com"
        }
    ],
    "components": {
        "securitySchemes": {}
    },
    "security": [
        {}
    ],
    "paths": {
        "/salary-details": {
            "get": {
                "summary": "Salary Details API",
                "description": "GET API to read Schedule Salary details from HRMS/Payroll platform.",
                "operationId": "salary-details-1",
                "parameters": [
                    {
                        "name": "financial_year",
                        "in": "query",
                        "description": "Financial Year",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "x-api-key",
                        "in": "header",
                        "description": "API key to uniquely identify the API user",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "x-api-version",
                        "in": "header",
                        "description": "API version",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "Authentication token to authorize the request",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "200",
                        "content": {
                            "application/json": {
                                "examples": {
                                    "Result": {
                                        "value": "{\n    \"employee_pan\": \"AAAPA1111A\",\n    \"pan_ref_no\": null,\n    \"name_of_employee\": \"Thomas Shelby\",\n    \"period_of_employment_from_date\": \"01/04/2021\",\n    \"period_of_employment_to_date\": \"31/03/2022\",\n    \"total_deduction_under_section_16_ii\": 0.00,\n    \"total_deduction_under_section_16_iii\": 2500,\n    \"income_including_admissible_loss_from_house_property_under_any_head_other_than_income_under_the_head_salaries_offered_for_tds_section_192_2_b\": -200000,\n    \"deduction_in_respect_of_life_insurance_premia_and_contributions_to_provident_fund_section_80C_gross_amount\": 180000.00,\n    \"deduction_in_respect_of_contribution_to_certain_pension_funds_section_80CCC_gross_amount\": 200000.00,\n    \"deduction_in_respect_of_contribtuion_by_taxpayer_to_notified_pension_scheme_section_80CCD1_gross_amount\": 0.00,\n    \"deduction_in_respect_of_amount_paid_or_deposited_under_notified_pension_scheme_section_80CCD1B_gross_amount\": 0.00,\n    \"deduction_in_respect_of_contribution_by_employer_to_notified_pension_scheme_section_80CCD2_groass_amount\": 0.00,\n    \"deduction_in_respect_of_health_insurance_premia_section_80D_gross_amount\": 300000.00,\n    \"deduction_in_respect_of_interest_on_loan_taken_for_higher_education_section_80E_gross_amount\": 100000.00,\n    \"total_deduction_in_respect_of_donations_to_certain_funds_charitable_institutions_section_80G_gross_amount\": 0.00,\n    \"deduction_in_respect_of_interest_on_deposits_in_savings_account_section_80TTA_gross_amount\": 100000.00,\n    \"deduction_in_respect_of_interest_on_deposits_in_savings_account_section_80TTB_gross_amount\": 0.00,\n    \"deduction_in_respect_of_maintenance_including_medical_treatment_of_a_dependent_who_is_a_person_with_disability_section_80DD_gross_amount\": 0.00,\n    \"deduction_in_respect_of_interest_on_loan_taken_for_residential_house_property_section_80EE_gross_amount\": 0.00, \n    \"deduction_in_respect_of_interest_on_loan_taken_for_certain_house_property_section_80EEA_gross_amount\": 0.00, \n    \"deduction_in_respect_of_rents_paid_section_80GG_gross_amount\": 0.00, \n    \"deduction_in_respect_of_contributions_given_by_any_person_to_political_parties_section_80GGC_gross_amount\": 0.00,\n    \"deduction_in_case_of_a_person_with_disability_section_80U_gross_amount\": 0.00,\n    \"income_tax_relief_u_s_89_when_salary_is_paid_in_arrear_or_advance\": 0.00,\n    \"total_amount_of_tax_deducted_at_source_by_the_current_employer_for_the_whole_year\": 1000000.00,\n    \"pan_of_landlord\": null,\n    \"name_of_landlord\": null,\n    \"in_case_of_deduction_of_interest_under_the_head_income_from_house_property_pan_of_lender\": null,\n    \"in_case_of_deduction_of_interest_under_the_head_income_from_house_property_name_of_lender\": null,\n    \"gross_salary_as_per_provisions_contained_in_sec_17_1\": 4900000.00,\n    \"value_of_perquisites_section_17_2_as_per_form_no_12_ba\": 100000.00,\n    \"profits_in_lieu_of_salary_section_17_3_as_per_form_no_12_ba\": 0.00,\n    \"travel_concession_or_assistance_section_10_5\": 0.00,\n    \"death_cum_retirement_gratuity_section_10_10\": 0.00,\n    \"commuted_value_of_pension_section_10_10_a\": 0.00,\n    \"cash_equivalent_of_leave_salary_encashment_section_10_10_aa\": 175000.00,\n    \"house_rent_allowance_section_10_13_a\": 0.00,\n    \"amount_of_any_other_exemption_under_section_10\": 0.00,\n    \"income_under_the_head_other_sources_offered_for_tds_section_192_2_b\": 300000.00,\n    \"whether_opting_for_taxation_u_s_115_bac\": \"No\"\n}"
                                    }
                                },
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "employee_pan": {
                                            "type": "string",
                                            "example": "AAAPA1111A"
                                        },
                                        "pan_ref_no": {},
                                        "name_of_employee": {
                                            "type": "string",
                                            "example": "Thomas Shelby"
                                        },
                                        "period_of_employment_from_date": {
                                            "type": "string",
                                            "example": "01/04/2021"
                                        },
                                        "period_of_employment_to_date": {
                                            "type": "string",
                                            "example": "31/03/2022"
                                        },
                                        "total_deduction_under_section_16_ii": {
                                            "type": "integer",
                                            "example": 0,
                                            "default": 0
                                        },
                                        "total_deduction_under_section_16_iii": {
                                            "type": "integer",
                                            "example": 2500,
                                            "default": 0
                                        },
                                        "income_including_admissible_loss_from_house_property_under_any_head_other_than_income_under_the_head_salaries_offered_for_tds_section_192_2_b": {
                                            "type": "integer",
                                            "example": -200000,
                                            "default": 0
                                        },
                                        "deduction_in_respect_of_life_insurance_premia_and_contributions_to_provident_fund_section_80C_gross_amount": {
                                            "type": "integer",
                                            "example": 180000,
                                            "default": 0
                                        },
                                        "deduction_in_respect_of_contribution_to_certain_pension_funds_section_80CCC_gross_amount": {
                                            "type": "integer",
                                            "example": 200000,
                                            "default": 0
                                        },
                                        "deduction_in_respect_of_contribtuion_by_taxpayer_to_notified_pension_scheme_section_80CCD1_gross_amount": {
                                            "type": "integer",
                                            "example": 0,
                                            "default": 0
                                        },
                                        "deduction_in_respect_of_amount_paid_or_deposited_under_notified_pension_scheme_section_80CCD1B_gross_amount": {
                                            "type": "integer",
                                            "example": 0,
                                            "default": 0
                                        },
                                        "deduction_in_respect_of_contribution_by_employer_to_notified_pension_scheme_section_80CCD2_groass_amount": {
                                            "type": "integer",
                                            "example": 0,
                                            "default": 0
                                        },
                                        "deduction_in_respect_of_health_insurance_premia_section_80D_gross_amount": {
                                            "type": "integer",
                                            "example": 300000,
                                            "default": 0
                                        },
                                        "deduction_in_respect_of_interest_on_loan_taken_for_higher_education_section_80E_gross_amount": {
                                            "type": "integer",
                                            "example": 100000,
                                            "default": 0
                                        },
                                        "total_deduction_in_respect_of_donations_to_certain_funds_charitable_institutions_section_80G_gross_amount": {
                                            "type": "integer",
                                            "example": 0,
                                            "default": 0
                                        },
                                        "deduction_in_respect_of_interest_on_deposits_in_savings_account_section_80TTA_gross_amount": {
                                            "type": "integer",
                                            "example": 100000,
                                            "default": 0
                                        },
                                        "deduction_in_respect_of_interest_on_deposits_in_savings_account_section_80TTB_gross_amount": {
                                            "type": "integer",
                                            "example": 0,
                                            "default": 0
                                        },
                                        "deduction_in_respect_of_maintenance_including_medical_treatment_of_a_dependent_who_is_a_person_with_disability_section_80DD_gross_amount": {
                                            "type": "integer",
                                            "example": 0,
                                            "default": 0
                                        },
                                        "deduction_in_respect_of_interest_on_loan_taken_for_residential_house_property_section_80EE_gross_amount": {
                                            "type": "integer",
                                            "example": 0,
                                            "default": 0
                                        },
                                        "deduction_in_respect_of_interest_on_loan_taken_for_certain_house_property_section_80EEA_gross_amount": {
                                            "type": "integer",
                                            "example": 0,
                                            "default": 0
                                        },
                                        "deduction_in_respect_of_rents_paid_section_80GG_gross_amount": {
                                            "type": "integer",
                                            "example": 0,
                                            "default": 0
                                        },
                                        "deduction_in_respect_of_contributions_given_by_any_person_to_political_parties_section_80GGC_gross_amount": {
                                            "type": "integer",
                                            "example": 0,
                                            "default": 0
                                        },
                                        "deduction_in_case_of_a_person_with_disability_section_80U_gross_amount": {
                                            "type": "integer",
                                            "example": 0,
                                            "default": 0
                                        },
                                        "income_tax_relief_u_s_89_when_salary_is_paid_in_arrear_or_advance": {
                                            "type": "integer",
                                            "example": 0,
                                            "default": 0
                                        },
                                        "total_amount_of_tax_deducted_at_source_by_the_current_employer_for_the_whole_year": {
                                            "type": "integer",
                                            "example": 1000000,
                                            "default": 0
                                        },
                                        "pan_of_landlord": {},
                                        "name_of_landlord": {},
                                        "in_case_of_deduction_of_interest_under_the_head_income_from_house_property_pan_of_lender": {},
                                        "in_case_of_deduction_of_interest_under_the_head_income_from_house_property_name_of_lender": {},
                                        "gross_salary_as_per_provisions_contained_in_sec_17_1": {
                                            "type": "integer",
                                            "example": 4900000,
                                            "default": 0
                                        },
                                        "value_of_perquisites_section_17_2_as_per_form_no_12_ba": {
                                            "type": "integer",
                                            "example": 100000,
                                            "default": 0
                                        },
                                        "profits_in_lieu_of_salary_section_17_3_as_per_form_no_12_ba": {
                                            "type": "integer",
                                            "example": 0,
                                            "default": 0
                                        },
                                        "travel_concession_or_assistance_section_10_5": {
                                            "type": "integer",
                                            "example": 0,
                                            "default": 0
                                        },
                                        "death_cum_retirement_gratuity_section_10_10": {
                                            "type": "integer",
                                            "example": 0,
                                            "default": 0
                                        },
                                        "commuted_value_of_pension_section_10_10_a": {
                                            "type": "integer",
                                            "example": 0,
                                            "default": 0
                                        },
                                        "cash_equivalent_of_leave_salary_encashment_section_10_10_aa": {
                                            "type": "integer",
                                            "example": 175000,
                                            "default": 0
                                        },
                                        "house_rent_allowance_section_10_13_a": {
                                            "type": "integer",
                                            "example": 0,
                                            "default": 0
                                        },
                                        "amount_of_any_other_exemption_under_section_10": {
                                            "type": "integer",
                                            "example": 0,
                                            "default": 0
                                        },
                                        "income_under_the_head_other_sources_offered_for_tds_section_192_2_b": {
                                            "type": "integer",
                                            "example": 300000,
                                            "default": 0
                                        },
                                        "whether_opting_for_taxation_u_s_115_bac": {
                                            "type": "string",
                                            "example": "No"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "400",
                        "content": {
                            "application/json": {
                                "examples": {
                                    "Result": {
                                        "value": "{}"
                                    }
                                },
                                "schema": {
                                    "type": "object",
                                    "properties": {}
                                }
                            }
                        }
                    }
                },
                "deprecated": false
            }
        },
        "/employer-details": {
            "get": {
                "summary": "Employer Details API",
                "description": "GET API to read Employer details from HRMS/Payroll platform.",
                "operationId": "employer-details-api",
                "parameters": [
                    {
                        "name": "x-api-key",
                        "in": "header",
                        "description": "API key to uniquely identify the API user",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "x-api-version",
                        "in": "header",
                        "description": "API version",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "Authentication token to authorize the request",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "200",
                        "content": {
                            "application/json": {
                                "examples": {
                                    "Result": {
                                        "value": "{\n    \"employer_name\": \"acme_infosoft_private_limited\",\n    \"employer_pan\": \"AAUCA0066B\",\n    \"employer_category\": \"central_government\",\n    \"address\": {\n        \"street\": \"b701_amrapali_lakeview\",\n        \"area\": \"thaltej\",\n        \"city\": \"ahmedabad\",\n        \"state\": \"gujarat\",\n        \"postal_code\": \"380015\",\n        \"country\": \"india\"\n    }\n}"
                                    }
                                },
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "employer_name": {
                                            "type": "string",
                                            "example": "acme_infosoft_private_limited"
                                        },
                                        "employer_pan": {
                                            "type": "string",
                                            "example": "AAUCA0066B"
                                        },
                                        "employer_category": {
                                            "type": "string",
                                            "example": "central_government"
                                        },
                                        "address": {
                                            "type": "object",
                                            "properties": {
                                                "street": {
                                                    "type": "string",
                                                    "example": "b701_amrapali_lakeview"
                                                },
                                                "area": {
                                                    "type": "string",
                                                    "example": "thaltej"
                                                },
                                                "city": {
                                                    "type": "string",
                                                    "example": "ahmedabad"
                                                },
                                                "state": {
                                                    "type": "string",
                                                    "example": "gujarat"
                                                },
                                                "postal_code": {
                                                    "type": "string",
                                                    "example": "380015"
                                                },
                                                "country": {
                                                    "type": "string",
                                                    "example": "india"
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "400",
                        "content": {
                            "application/json": {
                                "examples": {
                                    "Result": {
                                        "value": "{}"
                                    }
                                },
                                "schema": {
                                    "type": "object",
                                    "properties": {}
                                }
                            }
                        }
                    }
                },
                "deprecated": false
            }
        }
    }
}