{
    "openapi": "3.0.0",
    "info": {
        "title": "open-api",
        "version": "1.0.0",
        "description": ""
    },
    "servers": [
        {
            "url": "https://api.quicko.com"
        }
    ],
    "paths": {
        "/authenticate": {
            "parameters": [],
            "post": {
                "summary": "Authenticate",
                "parameters": [
                    {
                        "name": "x-api-key",
                            "in": "header",
                        "required": false,
                        "description": "API User Key",
                        "example": "{{api_key}}",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "x-api-secret",
                        "in": "header",
                        "required": false,
                        "description": "API User Secret",
                        "example": "{{api_secret}}",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "headers": {
                            "Date": {
                                "schema": {
                                    "type": "string"
                                },
                                "example": "Mon, 29 Apr 2024 15:55:15 GMT"
                            },
                            "Content-Type": {
                                "schema": {
                                    "type": "string"
                                },
                                "example": "application/json"
                            },
                            "Content-Length": {
                                "schema": {
                                    "type": "integer"
                                },
                                "example": "1224"
                            },
                            "Connection": {
                                "schema": {
                                    "type": "string"
                                },
                                "example": "keep-alive"
                            },
                            "x-amzn-RequestId": {
                                "schema": {
                                    "type": "string"
                                },
                                "example": "b4337f06-0c46-43b0-818f-2b89d61431cc"
                            },
                            "x-amzn-Remapped-x-amzn-RequestId": {
                                "schema": {
                                    "type": "integer"
                                },
                                "example": "15230505-9974-4201-9e3d-7f30291638db"
                            },
                            "Access-Control-Allow-Origin": {
                                "schema": {
                                    "type": "string"
                                },
                                "example": "*"
                            },
                            "Access-Control-Allow-Headers": {
                                "schema": {
                                    "type": "string"
                                },
                                "example": "*"
                            },
                            "x-amzn-Remapped-Content-Length": {
                                "schema": {
                                    "type": "integer"
                                },
                                "example": "1224"
                            },
                            "x-amzn-Remapped-Connection": {
                                "schema": {
                                    "type": "string"
                                },
                                "example": "keep-alive"
                            },
                            "x-amz-apigw-id": {
                                "schema": {
                                    "type": "string"
                                },
                                "example": "W_tjCGw0hcwEW4w="
                            },
                            "X-Requested-With": {
                                "schema": {
                                    "type": "string"
                                },
                                "example": "*"
                            },
                            "X-Amzn-Trace-Id": {
                                "schema": {
                                    "type": "string"
                                },
                                "example": "Root=1-662fc2df-3053c7237c10612b67543d06;Parent=4a0c83feb78aeffc;Sampled=0;lineage=94634231:0"
                            },
                            "x-amzn-Remapped-Date": {
                                "schema": {
                                    "type": "string"
                                },
                                "example": "Mon, 29 Apr 2024 15:55:15 GMT"
                            }
                        },
                        "description": "200 OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "timestamp": {
                                            "type": "integer"
                                        },
                                        "transaction_id": {
                                            "type": "string"
                                        },
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "access_token": {
                                                    "type": "string"
                                                },
                                                "refresh_token": {
                                                    "type": "string"
                                                }
                                            }
                                        },
                                        "code": {
                                            "type": "integer"
                                        }
                                    }
                                },
                                "example": {
                                    "timestamp": 1714406111946,
                                    "transaction_id": "15230505-9974-4201-9e3d-7f30291638db",
                                    "data": {
                                        "access_token": "eyJhbGciOiJIUzUxMiIsInR5cCI6IkpXVCJ9.eyJpbnRlbnQiOiJBQ0NFU1NfVE9LRU4iLCJyZWZyZXNoX3Rva2VuIjoiZXlKaGJHY2lPaUpJVXpVeE1pSXNJblI1Y0NJNklrcFhWQ0o5LmV5SnBiblJsYm5RaU9pSlNSVVpTUlZOSVgxUlBTMFZPSWl3aWFXRjBJam94TnpFME5EQTJNVEUxTENKbGVIQWlPakUzTkRVNU5qTTNNVFVzSW1GMVpDSTZJa0ZRU1NJc0ltbHpjeUk2SW1Gd2FTNXhkV2xqYTI4dVkyOXRJaXdpYzNWaUlqb2lhMlY1WDNSbGMzUmZkRVZ6VkVSRlRVOTBUMnN6YmtKVWVsTTBValZ2VDFWb2NHTnZkVE5hWjBjaWZRLmVscXdncURxVE9NRVNpNEg2a2llM0dhWGMtTks5Q1hJbkNnaFhZWU9feHF1SXo4UUZyZ3ltWWxkbUtkdzlvZlNZd205N19PWGVxY2VWSmFWZlVFWklRIiwiaWF0IjoxNzE0NDA2MTE1LCJleHAiOjE3MTQ0OTI1MTUsImF1ZCI6IkFQSSIsImlzcyI6ImFwaS5xdWlja28uY29tIiwic3ViIjoia2V5X3Rlc3RfdEVzVERFTU90T2szbkJUelM0UjVvT1VocGNvdTNaZ0cifQ.ukyd9LZ3ZnQc_b2fEvPDR8r3H-KvI8zUa6uU_SFHdK3Tz-WcAlMekgMtZIIqODWZRWdEWgwaqhhMX3UWi6AvMA",
                                        "refresh_token": "eyJhbGciOiJIUzUxMiIsInR5cCI6IkpXVCJ9.eyJpbnRlbnQiOiJSRUZSRVNIX1RPS0VOIiwiaWF0IjoxNzE0NDA2MTE1LCJleHAiOjE3NDU5NjM3MTUsImF1ZCI6IkFQSSIsImlzcyI6ImFwaS5xdWlja28uY29tIiwic3ViIjoia2V5X3Rlc3RfdEVzVERFTU90T2szbkJUelM0UjVvT1VocGNvdTNaZ0cifQ.elqwgqDqTOMESi4H6kie3GaXc-NK9CXInCghXYYO_xquIz8QFrgymYldmKdw9ofSYwm97_OXeqceVJaVfUEZIQ"
                                    },
                                    "code": 200
                                }
                            }
                        }
                    }
                }
            }
        },
        "/authorize": {
            "parameters": [],
            "post": {
                "summary": "Authorize",
                "parameters": [
                    {
                        "name": "x-api-key",
                        "in": "header",
                        "required": false,
                        "description": "API User Key",
                        "example": "{{api_key}}",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "required": false,
                        "description": "API User's Refresh Token",
                        "example": "eyJhbGciOiJIUzUxMiIsInR5cCI6IkpXVCJ9.eyJpbnRlbnQiOiJSRUZSRVNIX1RPS0VOIiwiaWF0IjoxNzE4MTAxODczLCJleHAiOjE3NDk2NTk0NzMsImF1ZCI6IkFQSSIsImlzcyI6ImFwaS5xdWlja28uY29tIiwic3ViIjoia2V5X2xpdmVfZjExNzkzOGM3ZDBiNDBkZjlhZDk1ZmFkYTdjMTVlNWEifQ.8ua3VeJ8KL2zKavBXP70PZWMrhh21mlNdjVWxyjKDvBuegjh_ZbNgnxQnOPiOVAkwVlhHfO22av4b95GCIRANA",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "headers": {
                            "Date": {
                                "schema": {
                                    "type": "string"
                                },
                                "example": "Mon, 29 Apr 2024 15:52:25 GMT"
                            },
                            "Content-Type": {
                                "schema": {
                                    "type": "string"
                                },
                                "example": "application/json"
                            },
                            "Content-Length": {
                                "schema": {
                                    "type": "integer"
                                },
                                "example": "887"
                            },
                            "Connection": {
                                "schema": {
                                    "type": "string"
                                },
                                "example": "keep-alive"
                            },
                            "x-amzn-RequestId": {
                                "schema": {
                                    "type": "string"
                                },
                                "example": "d867a75a-e053-4d17-986f-f1c53dbb2f5d"
                            },
                            "x-amzn-Remapped-x-amzn-RequestId": {
                                "schema": {
                                    "type": "integer"
                                },
                                "example": "9803f85e-f185-46bf-81c1-e892416f8bb0"
                            },
                            "Access-Control-Allow-Origin": {
                                "schema": {
                                    "type": "string"
                                },
                                "example": "*"
                            },
                            "Access-Control-Allow-Headers": {
                                "schema": {
                                    "type": "string"
                                },
                                "example": "*"
                            },
                            "x-amzn-Remapped-Content-Length": {
                                "schema": {
                                    "type": "integer"
                                },
                                "example": "887"
                            },
                            "x-amzn-Remapped-Connection": {
                                "schema": {
                                    "type": "string"
                                },
                                "example": "keep-alive"
                            },
                            "x-amz-apigw-id": {
                                "schema": {
                                    "type": "string"
                                },
                                "example": "W_tIZFNZBcwEcVA="
                            },
                            "X-Requested-With": {
                                "schema": {
                                    "type": "string"
                                },
                                "example": "*"
                            },
                            "X-Amzn-Trace-Id": {
                                "schema": {
                                    "type": "string"
                                },
                                "example": "Root=1-662fc235-29cf86076b6c3b4d77ad129d;Parent=59dff7eee0e9943e;Sampled=0;lineage=285d1262:0|94634231:0"
                            },
                            "x-amzn-Remapped-Date": {
                                "schema": {
                                    "type": "string"
                                },
                                "example": "Mon, 29 Apr 2024 15:52:25 GMT"
                            }
                        },
                        "description": "200 OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "timestamp": {
                                            "type": "integer"
                                        },
                                        "transaction_id": {
                                            "type": "string"
                                        },
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "access_token": {
                                                    "type": "string"
                                                }
                                            }
                                        },
                                        "code": {
                                            "type": "integer"
                                        }
                                    }
                                },
                                "example": {
                                    "timestamp": 1714405941459,
                                    "transaction_id": "9803f85e-f185-46bf-81c1-e892416f8bb0",
                                    "data": {
                                        "access_token": "eyJhbGciOiJIUzUxMiIsInR5cCI6IkpXVCJ9.eyJpbnRlbnQiOiJBQ0NFU1NfVE9LRU4iLCJyZWZyZXNoX3Rva2VuIjoiZXlKaGJHY2lPaUpJVXpVeE1pSXNJblI1Y0NJNklrcFhWQ0o5LmV5SnBiblJsYm5RaU9pSlNSVVpTUlZOSVgxUlBTMFZPSWl3aWFXRjBJam94TnpFek5EVXpOelV4TENKbGVIQWlPakUzTkRVd01URXpOVEVzSW1GMVpDSTZJa0ZRU1NJc0ltbHpjeUk2SW1Gd2FTNXhkV2xqYTI4dVkyOXRJaXdpYzNWaUlqb2lhMlY1WDNSbGMzUmZkRVZ6VkVSRlRVOTBUMnN6YmtKVWVsTTBValZ2VDFWb2NHTnZkVE5hWjBjaWZRLnQ2bk9maXplbkpDMWpaT1BEMk9laWdQN2ZmYnVNb2l5TnB0MTgyS0RzVG5mMUlBaF9Rb3hELW9RN0g5aWZQeGNTcVpHNTFCQkR2VTJfSUdpUzlvZHJ3IiwiaWF0IjoxNzE0NDA1OTQ1LCJleHAiOjE3MTQ0OTIzNDUsImF1ZCI6IkFQSSIsImlzcyI6ImFwaS5xdWlja28uY29tIiwic3ViIjoia2V5X3Rlc3RfdEVzVERFTU90T2szbkJUelM0UjVvT1VocGNvdTNaZ0cifQ.nZ7EZUQFO4F0OZm_SMBIHS7WX-wQeFOPpeLAfdLlVPLsxM5MhxA65H_MdIxAhAazSenGGH_JlQnv8UqQCtQ59w"
                                    },
                                    "code": 200
                                }
                            }
                        }
                    }
                }
            }
        },
        "/oauth/authorize": {
            "parameters": [],
            "post": {
                "summary": "Authorize",
                "parameters": [
                    {
                        "name": "request_token",
                        "in": "query",
                        "required": false,
                        "description": "Resource Owner's request_token or Resource Owner's refresh_token",
                        "example": "eyJhbGciOiJIUzUxMiIsInR5cCI6IkpXVCJ9.eyJpbnRlbnQiOiJSRVFVRVNUX1RPS0VOIiwiYXBpX2tleSI6ImtleV90ZXN0X3RFc1RERU1PdE9rM25CVHpTNFI1b09VaHBjb3UzWmdHIiwiZW1haWwiOiJuYWNoaWtldGEudmFkZXJhQHF1aWNrby5jb20iLCJpYXQiOjE3NTM5NjIyMjgsImV4cCI6MTc1Mzk2MjgyOCwiYXVkIjoib2F1dGgucXVpY2tvLmNvbSIsImlzcyI6Im9hdXRoLnF1aWNrby5jb20iLCJzdWIiOiIzQTQ0NjRCQzQxMjk2NDQ2RTA2MzAxMDAwMDdGMDkxQyJ9.433-XbWe2sM8M8STne9H9LrkbJDaybXysQsiFuAKJw9n89JtMHG9ST9mCddO-_jSAqF_T1qB8eFOIsZ92upOiw",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "x-api-key",
                        "in": "header",
                        "required": false,
                        "description": "API User Key",
                        "example": "{{api_key}}",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "required": false,
                        "description": "API User Access Token",
                        "example": "eyJhbGciOiJIUzUxMiIsInR5cCI6IkpXVCJ9.eyJpbnRlbnQiOiJBQ0NFU1NfVE9LRU4iLCJyZWZyZXNoX3Rva2VuIjoiZXlKaGJHY2lPaUpJVXpVeE1pSXNJblI1Y0NJNklrcFhWQ0o5LmV5SnBiblJsYm5RaU9pSlNSVVpTUlZOSVgxUlBTMFZPSWl3aWFXRjBJam94TnpVek9UWXlNalV6TENKbGVIQWlPakUzT0RVMU1UazROVE1zSW1GMVpDSTZJa0ZRU1NJc0ltbHpjeUk2SW1Gd2FTNXhkV2xqYTI4dVkyOXRJaXdpYzNWaUlqb2lhMlY1WDNSbGMzUmZkRVZ6VkVSRlRVOTBUMnN6YmtKVWVsTTBValZ2VDFWb2NHTnZkVE5hWjBjaWZRLkhVa2REZUx5bGI0UlBrZzFtclBNX0VKZmpIZ2w4M05aTUdHSm40NEpicWRpT0dYbjhUa3RQN0l3dDl4R3A5STA0M3BZZnFJcjRJSUw5cTBKZHZCbmdBIiwiaWF0IjoxNzUzOTYyMjUzLCJleHAiOjE3NTQwNDg2NTMsImF1ZCI6IkFQSSIsImlzcyI6ImFwaS5xdWlja28uY29tIiwic3ViIjoia2V5X3Rlc3RfdEVzVERFTU90T2szbkJUelM0UjVvT1VocGNvdTNaZ0cifQ.XUc71HDsFZHKq2epiTOMNWDLdlqGhafPlJ-IGquCgC6TUEeByTaK3q6tFFnAdt6KgEJbF4LK1tmAEmfohxUYuQ",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "headers": {
                            "Date": {
                                "schema": {
                                    "type": "string"
                                },
                                "example": "Mon, 29 Apr 2024 15:54:04 GMT"
                            },
                            "Content-Type": {
                                "schema": {
                                    "type": "string"
                                },
                                "example": "application/json"
                            },
                            "Content-Length": {
                                "schema": {
                                    "type": "integer"
                                },
                                "example": "1001"
                            },
                            "Connection": {
                                "schema": {
                                    "type": "string"
                                },
                                "example": "keep-alive"
                            },
                            "x-amzn-RequestId": {
                                "schema": {
                                    "type": "integer"
                                },
                                "example": "3583a5af-f529-4844-9f7e-219609bb4957"
                            },
                            "x-amzn-Remapped-x-amzn-RequestId": {
                                "schema": {
                                    "type": "integer"
                                },
                                "example": "05109178-9015-4c80-b00e-f7afcfadc50c"
                            },
                            "Access-Control-Allow-Origin": {
                                "schema": {
                                    "type": "string"
                                },
                                "example": "*"
                            },
                            "Access-Control-Allow-Headers": {
                                "schema": {
                                    "type": "string"
                                },
                                "example": "*"
                            },
                            "x-amzn-Remapped-Content-Length": {
                                "schema": {
                                    "type": "integer"
                                },
                                "example": "1001"
                            },
                            "x-amzn-Remapped-Connection": {
                                "schema": {
                                    "type": "string"
                                },
                                "example": "keep-alive"
                            },
                            "x-amz-apigw-id": {
                                "schema": {
                                    "type": "string"
                                },
                                "example": "W_tX-GsBBcwEJbw="
                            },
                            "X-Requested-With": {
                                "schema": {
                                    "type": "string"
                                },
                                "example": "*"
                            },
                            "X-Amzn-Trace-Id": {
                                "schema": {
                                    "type": "string"
                                },
                                "example": "Root=1-662fc299-599c344343215aaf6d45df0f;Parent=0b3efcef64e5a71c;Sampled=0;lineage=81de045c:0|1ca40def:0"
                            },
                            "x-amzn-Remapped-Date": {
                                "schema": {
                                    "type": "string"
                                },
                                "example": "Mon, 29 Apr 2024 15:54:04 GMT"
                            }
                        },
                        "description": "200 OK [request_token]",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "timestamp": {
                                            "type": "integer"
                                        },
                                        "transaction_id": {
                                            "type": "string"
                                        },
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "refresh_token": {
                                                    "type": "string"
                                                },
                                                "access_token": {
                                                    "type": "string"
                                                }
                                            }
                                        },
                                        "code": {
                                            "type": "integer"
                                        }
                                    }
                                },
                                "example": {
                                    "timestamp": 1714406041157,
                                    "transaction_id": "05109178-9015-4c80-b00e-f7afcfadc50c",
                                    "data": {
                                        "refresh_token": "eyJhbGciOiJIUzUxMiIsInR5cCI6IkpXVCJ9.eyJpbnRlbnQiOiJSRUZSRVNIX1RPS0VOIiwiYXBpX2tleSI6ImtleV90ZXN0X3RFc1RERU1PdE9rM25CVHpTNFI1b09VaHBjb3UzWmdHIiwiZW1haWwiOiJuYWNoaWtldGEudmFkZXJhQHF1aWNrby5jb20iLCJpYXQiOjE3MTQ0MDYwNDQsImV4cCI6MTc0NTk2MzY0NCwiYXVkIjoiQVBJIiwiaXNzIjoib2F1dGgucXVpY2tvLmNvbSIsInN1YiI6IjBENkIwNzZBMkQwQjE5MkNFMDYzMDIwMDE1QUNDNDdGIn0.hNMeC1rzCrc7G-oD2bc3Bgl6jCxBIiSQldSdWfuIF5VlvawgqnuN4rHQX2VmdLHCAgsyTbM3Qg9FTv7mjzR7qQ",
                                        "access_token": "eyJhbGciOiJIUzUxMiIsInR5cCI6IkpXVCJ9.eyJpbnRlbnQiOiJBQ0NFU1NfVE9LRU4iLCJhcGlfa2V5Ijoia2V5X3Rlc3RfdEVzVERFTU90T2szbkJUelM0UjVvT1VocGNvdTNaZ0ciLCJlbWFpbCI6Im5hY2hpa2V0YS52YWRlcmFAcXVpY2tvLmNvbSIsImlhdCI6MTcxNDQwNjA0NCwiZXhwIjoxNzE0NDkyNDQ0LCJhdWQiOiJBUEkiLCJpc3MiOiJvYXV0aC5xdWlja28uY29tIiwic3ViIjoiMEQ2QjA3NkEyRDBCMTkyQ0UwNjMwMjAwMTVBQ0M0N0YifQ.GFWd2eJsCKbGCH2uphAAfYc9Dh9EAcS3qceDdO4-eyyy1KWqJnHaJAT5Nr13o4u2JJ4lvP9dx5hwUzwDKS2Dig"
                                    },
                                    "code": 200
                                }
                            }
                        }
                    }
                }
            }
        },
        "/entitlements/user": {
            "parameters": [],
            "get": {
                "summary": "User Details",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "required": false,
                        "description": "Resource Owner's Access Token",
                        "example": "eyJhbGciOiJIUzUxMiIsInR5cCI6IkpXVCJ9.eyJpbnRlbnQiOiJBQ0NFU1NfVE9LRU4iLCJhcGlfa2V5Ijoia2V5X2xpdmVfYTU4ZGVjMGE0NDZmNDZlNmJmZTI2NzcyZTVkYTFkMjIiLCJlbWFpbCI6Im5hY2hpa2V0YS52YWRlcmFAcXVpY2tvLmNvbSIsImlhdCI6MTcyMTM4ODAwMCwiZXhwIjoxNzIxNDc0NDAwLCJhdWQiOiJBUEkiLCJpc3MiOiJvYXV0aC5xdWlja28uY29tIiwic3ViIjoiQzQ1NjIxOTk1OEVCNzhENkUwNTMwMTAwMDA3RjFGQUQifQ.Sj30ArJrlzNnxAYjb1mNhS1yiw5oUZl1w9UmnoPd4x5VwKZRLtlfx8kc6Cf3fNr-ow98DXMl7NByeYcym-QeKQ",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "x-api-key",
                        "in": "header",
                        "required": false,
                        "description": "API User Key",
                        "example": "{{api_key}}",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "default": {
                        "headers": {
                            "Content-Type": {
                                "schema": {
                                    "type": "string"
                                },
                                "example": "application/json"
                            }
                        },
                        "description": "200 OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "code": {
                                            "type": "integer"
                                        },
                                        "transaction_id": {
                                            "type": "string"
                                        },
                                        "timestamp": {
                                            "type": "integer"
                                        },
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "@entity": {
                                                    "type": "string"
                                                },
                                                "id": {
                                                    "type": "string"
                                                },
                                                "email": {
                                                    "type": "string",
                                                    "format": "email"
                                                },
                                                "created_at": {
                                                    "type": "integer"
                                                },
                                                "first_name": {
                                                    "type": "string"
                                                },
                                                "last_name": {
                                                    "type": "string"
                                                },
                                                "mobile": {
                                                    "type": "object",
                                                    "properties": {
                                                        "@entity": {
                                                            "type": "string"
                                                        },
                                                        "number": {
                                                            "type": "string",
                                                            "format": "utc-millisec"
                                                        },
                                                        "isd_code": {
                                                            "type": "string",
                                                            "format": "utc-millisec"
                                                        }
                                                    }
                                                },
                                                "status": {
                                                    "type": "string"
                                                }
                                            }
                                        }
                                    }
                                },
                                "example": {
                                    "code": 200,
                                    "transaction_id": "784ebaf1-d421-4926-98db-08d2b6bfb6b3",
                                    "timestamp": 1699345819455,
                                    "data": {
                                        "@entity": "com.quicko.user",
                                        "id": "0D6B076A2D0B192CE063020015ACC47F",
                                        "email": "user@mail.com",
                                        "created_at": 1682797023000,
                                        "first_name": "John",
                                        "last_name": "Doe",
                                        "mobile": {
                                            "@entity": "com.quicko.mobile",
                                            "number": "9988776655",
                                            "isd_code": "91"
                                        },
                                        "status": "active"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/income-tax/tax-payer": {
            "parameters": [],
            "get": {
                "summary": "Tax Payer",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "required": false,
                        "description": "Resource Owner's Access Token",
                        "example": "{{resource_owner_access_token}}",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "x-api-key",
                        "in": "header",
                        "required": false,
                        "description": "API User Key",
                        "example": "{{api_key}}",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "headers": {
                            "Content-Type": {
                                "schema": {
                                    "type": "string"
                                },
                                "example": "application/json"
                            }
                        },
                        "description": "200 OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "code": {
                                            "type": "integer"
                                        },
                                        "transaction_id": {
                                            "type": "string"
                                        },
                                        "timestamp": {
                                            "type": "integer"
                                        },
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "@entity": {
                                                    "type": "string"
                                                },
                                                "pan": {
                                                    "type": "string"
                                                },
                                                "pan_holder_type": {
                                                    "type": "string"
                                                },
                                                "filing_category": {
                                                    "type": "string"
                                                },
                                                "residential_status": {
                                                    "type": "string"
                                                },
                                                "id": {
                                                    "type": "string"
                                                },
                                                "full_name": {
                                                    "type": "string"
                                                },
                                                "address": {
                                                    "type": "object",
                                                    "properties": {
                                                        "@entity": {
                                                            "type": "string"
                                                        },
                                                        "id": {
                                                            "type": "string"
                                                        },
                                                        "street": {
                                                            "type": "string"
                                                        },
                                                        "area": {
                                                            "type": "string"
                                                        },
                                                        "city": {
                                                            "type": "string"
                                                        },
                                                        "state": {
                                                            "type": "string"
                                                        },
                                                        "country": {
                                                            "type": "string"
                                                        },
                                                        "postal_code": {
                                                            "type": "string",
                                                            "format": "color"
                                                        }
                                                    }
                                                },
                                                "contact": {
                                                    "type": "object",
                                                    "properties": {
                                                        "@entity": {
                                                            "type": "string"
                                                        },
                                                        "id": {
                                                            "type": "string"
                                                        },
                                                        "email": {
                                                            "type": "string",
                                                            "format": "email"
                                                        },
                                                        "country_code": {
                                                            "type": "string",
                                                            "format": "utc-millisec"
                                                        },
                                                        "mobile": {
                                                            "type": "string",
                                                            "format": "utc-millisec"
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                },
                                "example": {
                                    "code": 200,
                                    "transaction_id": "ace45336-cc41-4cb0-8eae-2675cfd6e709",
                                    "timestamp": 1699357297679,
                                    "data": {
                                        "@entity": "com.quicko.tax_payer",
                                        "pan": "ATOPC1234B",
                                        "pan_holder_type": "individual",
                                        "filing_category": "general",
                                        "residential_status": "resident",
                                        "id": "0D6B076A2D0B192CE063020015ACC47F",
                                        "full_name": "John Jason Doe",
                                        "address": {
                                            "@entity": "com.quicko.address",
                                            "id": "f7f71017-6107-482e-870a-58143fff10c9",
                                            "street": "7, Atop Apartments ",
                                            "area": "Vastrapur",
                                            "city": "Ahmedabad",
                                            "state": "Gujarat",
                                            "country": "India",
                                            "postal_code": "380016"
                                        },
                                        "contact": {
                                            "@entity": "com.quicko.contact",
                                            "id": "f7f71017-6107-482e-870a-58143fff10c9",
                                            "email": "john.d@mail.com",
                                            "country_code": "91",
                                            "mobile": "9876543210"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/income-tax/tax-payer/itr": {
            "parameters": [],
            "get": {
                "summary": "ITR Details",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "required": false,
                        "description": "Resource Owner's Access Token",
                        "example": "{{api_user_access_token}}",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "x-api-key",
                        "in": "header",
                        "required": false,
                        "description": "API User Key",
                        "example": "{{api_key}}",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "headers": {
                            "Content-Type": {
                                "schema": {
                                    "type": "string"
                                },
                                "example": "application/json"
                            }
                        },
                        "description": "200 OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "code": {
                                            "type": "integer"
                                        },
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "@entity": {
                                                    "type": "string"
                                                },
                                                "filed_under_section": {
                                                    "type": "string"
                                                },
                                                "filing_type": {
                                                    "type": "string"
                                                },
                                                "id": {
                                                    "type": "string"
                                                },
                                                "form": {
                                                    "type": "string"
                                                },
                                                "status": {
                                                    "type": "string"
                                                },
                                                "assessment_year": {
                                                    "type": "string"
                                                },
                                                "due_date": {
                                                    "type": "integer"
                                                },
                                                "opt_audit": {
                                                    "nullable": true
                                                },
                                                "audit_under_section": {
                                                    "nullable": true
                                                },
                                                "filed_on": {
                                                    "nullable": true
                                                },
                                                "e_verified_on": {
                                                    "nullable": true
                                                },
                                                "acknowledgement_number": {
                                                    "nullable": true
                                                }
                                            }
                                        },
                                        "transaction_id": {
                                            "type": "string"
                                        },
                                        "timestamp": {
                                            "type": "integer"
                                        }
                                    }
                                },
                                "example": {
                                    "code": 200,
                                    "data": {
                                        "@entity": "com.quicko.itr",
                                        "filed_under_section": "on_or_before_the_due_date_us_139_1",
                                        "filing_type": "original",
                                        "id": "8555b943-c3a9-4c95-9663-625b347b00da",
                                        "form": "itr_1",
                                        "status": "in_progress",
                                        "assessment_year": "AY 2023-24",
                                        "due_date": 1722450599000,
                                        "opt_audit": null,
                                        "audit_under_section": null,
                                        "filed_on": null,
                                        "e_verified_on": null,
                                        "acknowledgement_number": null
                                    },
                                    "transaction_id": "738a0cfb-ae0d-427b-b80b-d3aace5a8778",
                                    "timestamp": 1699351274048
                                }
                            }
                        }
                    }
                }
            }
        },
        "/income-tax/tax-payer/itr/computation-of-tax": {
            "parameters": [],
            "get": {
                "summary": "Tax Computation",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "required": false,
                        "description": "Resource Owner's Access Token",
                        "example": "{{resource_owner_access_token}}",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "x-api-key",
                        "in": "header",
                        "required": false,
                        "description": "API User Key",
                        "example": "{{api_key}}",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "headers": {
                            "Content-Type": {
                                "schema": {
                                    "type": "string"
                                },
                                "example": "application/json"
                            }
                        },
                        "description": "200 OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "code": {
                                            "type": "integer"
                                        },
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "name": {
                                                    "type": "string"
                                                },
                                                "@entity": {
                                                    "type": "string"
                                                },
                                                "sheets": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "object",
                                                        "properties": {
                                                            "name": {
                                                                "type": "string"
                                                            },
                                                            "@entity": {
                                                                "type": "string"
                                                            },
                                                            "blocks": {
                                                                "type": "array",
                                                                "items": {
                                                                    "type": "object",
                                                                    "properties": {
                                                                        "name": {
                                                                            "type": "string"
                                                                        },
                                                                        "@entity": {
                                                                            "type": "string"
                                                                        },
                                                                        "items": {
                                                                            "type": "array",
                                                                            "items": {
                                                                                "type": "array",
                                                                                "items": {
                                                                                    "type": "string"
                                                                                }
                                                                            }
                                                                        }
                                                                    }
                                                                }
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        },
                                        "transaction_id": {
                                            "type": "string"
                                        },
                                        "timestamp": {
                                            "type": "integer"
                                        }
                                    }
                                },
                                "example": {
                                    "code": 200,
                                    "data": {
                                        "name": "tax_computation_workbook",
                                        "@entity": "workbook",
                                        "sheets": [
                                            {
                                                "name": "tax_computation_sheet",
                                                "@entity": "sheet",
                                                "blocks": [
                                                    {
                                                        "name": "tax_computation_list",
                                                        "@entity": "list",
                                                        "items": [
                                                            [
                                                                "total_taxable_salary",
                                                                0
                                                            ],
                                                            [
                                                                "total_taxable_house_property",
                                                                0
                                                            ],
                                                            [
                                                                "total_taxable_capital_gains",
                                                                3400
                                                            ],
                                                            [
                                                                "total_taxable_other",
                                                                0
                                                            ],
                                                            [
                                                                "total_taxable_business_profession",
                                                                0
                                                            ],
                                                            [
                                                                "total_headwise_income",
                                                                3400
                                                            ],
                                                            [
                                                                "current_year_loss_adjusted",
                                                                0
                                                            ],
                                                            [
                                                                "brought_forward_loss_adjusted",
                                                                0
                                                            ],
                                                            [
                                                                "losses_adjusted",
                                                                0
                                                            ],
                                                            [
                                                                "carry_forward_loss",
                                                                0
                                                            ],
                                                            [
                                                                "gross_normal_income",
                                                                3400
                                                            ],
                                                            [
                                                                "gross_special_income",
                                                                0
                                                            ],
                                                            [
                                                                "gross_total_income",
                                                                3400
                                                            ],
                                                            [
                                                                "total_chapter_vi_a_deduction",
                                                                0
                                                            ],
                                                            [
                                                                "total_normal_income",
                                                                3400
                                                            ],
                                                            [
                                                                "total_special_income",
                                                                0
                                                            ],
                                                            [
                                                                "aggregate_income",
                                                                0
                                                            ],
                                                            [
                                                                "total_income",
                                                                3400
                                                            ],
                                                            [
                                                                "total_exempt_income",
                                                                0
                                                            ],
                                                            [
                                                                "exempt_ltcg_under_112a",
                                                                0
                                                            ],
                                                            [
                                                                "tax_payable_on_normal_rate_income",
                                                                0
                                                            ],
                                                            [
                                                                "tax_payable_on_special_rate_income",
                                                                0
                                                            ],
                                                            [
                                                                "tax_payable_on_total_income",
                                                                0
                                                            ],
                                                            [
                                                                "rebate",
                                                                0
                                                            ],
                                                            [
                                                                "tax_after_rebate",
                                                                0
                                                            ],
                                                            [
                                                                "surcharge_before_marginal_relief",
                                                                0
                                                            ],
                                                            [
                                                                "surcharge",
                                                                0
                                                            ],
                                                            [
                                                                "cess",
                                                                0
                                                            ],
                                                            [
                                                                "surcharge_and_cess",
                                                                0
                                                            ],
                                                            [
                                                                "gross_tax_payable",
                                                                0
                                                            ],
                                                            [
                                                                "relief",
                                                                0
                                                            ],
                                                            [
                                                                "effective_tax_rate",
                                                                0
                                                            ],
                                                            [
                                                                "interest_234_a",
                                                                0
                                                            ],
                                                            [
                                                                "interest_234_b",
                                                                0
                                                            ],
                                                            [
                                                                "interest_234_c",
                                                                0
                                                            ],
                                                            [
                                                                "fees_234_f",
                                                                0
                                                            ],
                                                            [
                                                                "total_interest_and_penalty",
                                                                0
                                                            ],
                                                            [
                                                                "net_tax_payable",
                                                                0
                                                            ],
                                                            [
                                                                "total_self_assessment_tax",
                                                                0
                                                            ],
                                                            [
                                                                "total_tax_deducted_at_source",
                                                                0
                                                            ],
                                                            [
                                                                "total_tax_collected_at_source",
                                                                0
                                                            ],
                                                            [
                                                                "total_taxes_paid",
                                                                0
                                                            ],
                                                            [
                                                                "refund",
                                                                0
                                                            ],
                                                            [
                                                                "due",
                                                                0
                                                            ]
                                                        ]
                                                    }
                                                ]
                                            }
                                        ]
                                    },
                                    "transaction_id": "738a0cfb-ae0d-427b-b80b-d3aace5a8778",
                                    "timestamp": 1699351274048
                                }
                            }
                        }
                    }
                }
            }
        },
        "/income-tax/tax-payer/itr/json": {
            "parameters": [],
            "get": {
                "summary": "ITR JSON",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "required": false,
                        "description": "Resource Owner's Access Token",
                        "example": "{{resource_owner_access_token}}",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "x-api-key",
                        "in": "header",
                        "required": false,
                        "description": "API User Key",
                        "example": "{{api_key}}",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "headers": {
                            "Content-Type": {
                                "schema": {
                                    "type": "string"
                                },
                                "example": "application/json"
                            }
                        },
                        "description": "200 OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "code": {
                                            "type": "integer"
                                        },
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "ITR": {
                                                    "type": "object",
                                                    "properties": {
                                                        "ITR1": {
                                                            "type": "object",
                                                            "properties": {
                                                                "CreationInfo": {
                                                                    "type": "object",
                                                                    "properties": {
                                                                        "SWVersionNo": {
                                                                            "type": "string"
                                                                        },
                                                                        "SWCreatedBy": {
                                                                            "type": "string"
                                                                        },
                                                                        "JSONCreatedBy": {
                                                                            "type": "string"
                                                                        },
                                                                        "JSONCreationDate": {
                                                                            "type": "string",
                                                                            "format": "date"
                                                                        },
                                                                        "IntermediaryCity": {
                                                                            "type": "string"
                                                                        },
                                                                        "Digest": {
                                                                            "type": "string"
                                                                        }
                                                                    }
                                                                },
                                                                "Form_ITR1": {
                                                                    "type": "object",
                                                                    "properties": {
                                                                        "FormName": {
                                                                            "type": "string"
                                                                        },
                                                                        "Description": {
                                                                            "type": "string"
                                                                        },
                                                                        "AssessmentYear": {
                                                                            "type": "string",
                                                                            "format": "utc-millisec"
                                                                        },
                                                                        "SchemaVer": {
                                                                            "type": "string"
                                                                        },
                                                                        "FormVer": {
                                                                            "type": "string"
                                                                        }
                                                                    }
                                                                },
                                                                "PersonalInfo": {
                                                                    "type": "object",
                                                                    "properties": {
                                                                        "AssesseeName": {
                                                                            "type": "object",
                                                                            "properties": {
                                                                                "FirstName": {
                                                                                    "type": "string"
                                                                                },
                                                                                "MiddleName": {
                                                                                    "type": "string"
                                                                                },
                                                                                "SurNameOrOrgName": {
                                                                                    "type": "string"
                                                                                }
                                                                            }
                                                                        },
                                                                        "PAN": {
                                                                            "type": "string"
                                                                        },
                                                                        "Address": {
                                                                            "type": "object",
                                                                            "properties": {
                                                                                "ResidenceNo": {
                                                                                    "type": "string"
                                                                                },
                                                                                "LocalityOrArea": {
                                                                                    "type": "string"
                                                                                },
                                                                                "CityOrTownOrDistrict": {
                                                                                    "type": "string"
                                                                                },
                                                                                "StateCode": {
                                                                                    "type": "string",
                                                                                    "format": "utc-millisec"
                                                                                },
                                                                                "CountryCode": {
                                                                                    "type": "string",
                                                                                    "format": "utc-millisec"
                                                                                },
                                                                                "PinCode": {
                                                                                    "type": "integer"
                                                                                },
                                                                                "CountryCodeMobile": {
                                                                                    "type": "integer"
                                                                                },
                                                                                "MobileNo": {
                                                                                    "type": "integer"
                                                                                },
                                                                                "EmailAddress": {
                                                                                    "type": "string",
                                                                                    "format": "email"
                                                                                }
                                                                            }
                                                                        },
                                                                        "DOB": {
                                                                            "type": "string",
                                                                            "format": "date"
                                                                        },
                                                                        "EmployerCategory": {
                                                                            "type": "string"
                                                                        },
                                                                        "AadhaarCardNo": {
                                                                            "type": "string",
                                                                            "format": "utc-millisec"
                                                                        }
                                                                    }
                                                                },
                                                                "FilingStatus": {
                                                                    "type": "object",
                                                                    "properties": {
                                                                        "ReturnFileSec": {
                                                                            "type": "integer"
                                                                        },
                                                                        "NewTaxRegime": {
                                                                            "type": "string"
                                                                        },
                                                                        "SeventhProvisio139": {
                                                                            "type": "string"
                                                                        },
                                                                        "IncrExpAggAmt2LkTrvFrgnCntryFlg": {
                                                                            "type": "string"
                                                                        },
                                                                        "IncrExpAggAmt1LkElctrctyPrYrFlg": {
                                                                            "type": "string"
                                                                        },
                                                                        "clauseiv7provisio139iDtls": {
                                                                            "type": "array",
                                                                            "items": {}
                                                                        }
                                                                    }
                                                                },
                                                                "ITR1_IncomeDeductions": {
                                                                    "type": "object",
                                                                    "properties": {
                                                                        "GrossSalary": {
                                                                            "type": "integer"
                                                                        },
                                                                        "Salary": {
                                                                            "type": "integer"
                                                                        },
                                                                        "PerquisitesValue": {
                                                                            "type": "integer"
                                                                        },
                                                                        "ProfitsInSalary": {
                                                                            "type": "integer"
                                                                        },
                                                                        "IncomeNotified89A": {
                                                                            "type": "integer"
                                                                        },
                                                                        "IncomeNotified89AType": {
                                                                            "type": "array",
                                                                            "items": {}
                                                                        },
                                                                        "AllwncExemptUs10": {
                                                                            "type": "object",
                                                                            "properties": {
                                                                                "AllwncExemptUs10Dtls": {
                                                                                    "type": "array",
                                                                                    "items": {}
                                                                                },
                                                                                "TotalAllwncExemptUs10": {
                                                                                    "type": "integer"
                                                                                }
                                                                            }
                                                                        },
                                                                        "NetSalary": {
                                                                            "type": "integer"
                                                                        },
                                                                        "DeductionUs16": {
                                                                            "type": "integer"
                                                                        },
                                                                        "DeductionUs16ia": {
                                                                            "type": "integer"
                                                                        },
                                                                        "EntertainmentAlw16ii": {
                                                                            "type": "integer"
                                                                        },
                                                                        "ProfessionalTaxUs16iii": {
                                                                            "type": "integer"
                                                                        },
                                                                        "IncomeFromSal": {
                                                                            "type": "integer"
                                                                        },
                                                                        "AnnualValue": {
                                                                            "type": "integer"
                                                                        },
                                                                        "StandardDeduction": {
                                                                            "type": "integer"
                                                                        },
                                                                        "TotalIncomeOfHP": {
                                                                            "type": "integer"
                                                                        },
                                                                        "IncomeOthSrc": {
                                                                            "type": "integer"
                                                                        },
                                                                        "OthersInc": {
                                                                            "type": "object",
                                                                            "properties": {
                                                                                "OthersIncDtlsOthSrc": {
                                                                                    "type": "array",
                                                                                    "items": {}
                                                                                }
                                                                            }
                                                                        },
                                                                        "GrossTotIncome": {
                                                                            "type": "integer"
                                                                        },
                                                                        "UsrDeductUndChapVIA": {
                                                                            "type": "object",
                                                                            "properties": {
                                                                                "Section80C": {
                                                                                    "type": "integer"
                                                                                },
                                                                                "Section80CCC": {
                                                                                    "type": "integer"
                                                                                },
                                                                                "Section80CCDEmployeeOrSE": {
                                                                                    "type": "integer"
                                                                                },
                                                                                "Section80CCD1B": {
                                                                                    "type": "integer"
                                                                                },
                                                                                "Section80CCDEmployer": {
                                                                                    "type": "integer"
                                                                                },
                                                                                "Section80D": {
                                                                                    "type": "integer"
                                                                                },
                                                                                "Section80DD": {
                                                                                    "type": "integer"
                                                                                },
                                                                                "Section80DDB": {
                                                                                    "type": "integer"
                                                                                },
                                                                                "Section80E": {
                                                                                    "type": "integer"
                                                                                },
                                                                                "Section80EE": {
                                                                                    "type": "integer"
                                                                                },
                                                                                "Section80EEA": {
                                                                                    "type": "integer"
                                                                                },
                                                                                "Section80EEB": {
                                                                                    "type": "integer"
                                                                                },
                                                                                "Section80G": {
                                                                                    "type": "integer"
                                                                                },
                                                                                "Section80GG": {
                                                                                    "type": "integer"
                                                                                },
                                                                                "Section80GGA": {
                                                                                    "type": "integer"
                                                                                },
                                                                                "Section80GGC": {
                                                                                    "type": "integer"
                                                                                },
                                                                                "Section80U": {
                                                                                    "type": "integer"
                                                                                },
                                                                                "Section80TTA": {
                                                                                    "type": "integer"
                                                                                },
                                                                                "Section80TTB": {
                                                                                    "type": "integer"
                                                                                },
                                                                                "AnyOthSec80CCH": {
                                                                                    "type": "integer"
                                                                                },
                                                                                "TotalChapVIADeductions": {
                                                                                    "type": "integer"
                                                                                }
                                                                            }
                                                                        },
                                                                        "DeductUndChapVIA": {
                                                                            "type": "object",
                                                                            "properties": {
                                                                                "Section80C": {
                                                                                    "type": "integer"
                                                                                },
                                                                                "Section80CCC": {
                                                                                    "type": "integer"
                                                                                },
                                                                                "Section80CCDEmployeeOrSE": {
                                                                                    "type": "integer"
                                                                                },
                                                                                "Section80CCD1B": {
                                                                                    "type": "integer"
                                                                                },
                                                                                "Section80CCDEmployer": {
                                                                                    "type": "integer"
                                                                                },
                                                                                "Section80D": {
                                                                                    "type": "integer"
                                                                                },
                                                                                "Section80DD": {
                                                                                    "type": "integer"
                                                                                },
                                                                                "Section80DDB": {
                                                                                    "type": "integer"
                                                                                },
                                                                                "Section80E": {
                                                                                    "type": "integer"
                                                                                },
                                                                                "Section80EE": {
                                                                                    "type": "integer"
[...]
